In [8]:
import pandas as pd
import numpy as np
from pandas_summary import DataFrameSummary
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [9]:
# pip install pyarrow

In [10]:
#df_train = pd.read_feather('all_preprocessed_train.fth')
df_train = pd.read_feather('all_preprocessed_with_Outlier_train.fth')
df_test = pd.read_feather('all_preprocessed_test.fth')

In [11]:
df_train.shape, df_test.shape

((1004188, 81), (41088, 80))

In [12]:
# Verificación de que se hicieron bien las cosas en testa también
set(df_train.columns) - set(df_test.columns)

{'Customers', 'Sales'}

In [13]:
(df_train['CompetitionDistance'].isna()).sum()

0

In [14]:
DataFrameSummary(df_train).summary()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,...,AfterStateHoliday_bool,BeforeStateHoliday_bool,AfterPromo,BeforePromo,SchoolHoliday_bw,StateHoliday_bool_bw,Promo_bw,SchoolHoliday_fw,StateHoliday_bool_fw,Promo_fw
count,1004188.000000,1004188.000000,NaN,1004188.000000,1004188.000000,1004188.000000,1004188.000000,NaN,1004188.000000,1004188.000000,...,1004188.000000,1004188.000000,1004188.000000,1004188.000000,1004188.000000,1004188.000000,1004188.000000,1004188.000000,1004188.000000,1004188.000000
mean,558.457168,4.022204,NaN,5681.621350,625.739047,0.827904,0.376459,NaN,0.177434,2013.833256,...,36.783220,-35.414359,3.252419,-3.123468,1.237133,0.214628,2.652237,1.223129,0.202335,2.660047
std,321.871541,1.989464,NaN,3749.112652,457.966285,0.377464,0.484498,NaN,0.382036,0.777878,...,31.196109,32.847078,5.938126,3.303411,2.058725,0.476375,1.913472,2.050760,0.462844,1.899294
min,1.000000,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,2013.000000,...,0.000000,-195.000000,0.000000,-16.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,280.000000,2.000000,NaN,3694.000000,401.000000,1.000000,0.000000,NaN,0.000000,2013.000000,...,9.000000,-59.000000,0.000000,-6.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
50%,558.000000,4.000000,NaN,5701.000000,605.000000,1.000000,0.000000,NaN,0.000000,2014.000000,...,28.000000,-25.000000,2.000000,-2.000000,0.000000,0.000000,3.000000,0.000000,0.000000,3.000000
75%,837.000000,6.000000,NaN,7766.000000,828.000000,1.000000,1.000000,NaN,0.000000,2014.000000,...,58.000000,-7.000000,6.000000,0.000000,2.000000,0.000000,5.000000,2.000000,0.000000,5.000000
max,1115.000000,7.000000,NaN,34001.000000,7388.000000,1.000000,1.000000,NaN,1.000000,2015.000000,...,135.000000,0.000000,188.000000,0.000000,7.000000,2.000000,5.000000,7.000000,2.000000,5.000000
counts,1004188,1004188,1004188,1004188,1004188,1004188,1004188,1004188,1004188,1004188,...,1004188,1004188,1004188,1004188,1004188,1004188,1004188,1004188,1004188,1004188
uniques,1115,7,942,20937,3969,2,2,4,2,3,...,136,147,21,17,8,3,6,8,3,6
missing,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,...,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
types,numeric,numeric,date,numeric,numeric,bool,bool,categorical,bool,numeric,...,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric

## Categorical vars

In [15]:
cat_vars = ['Store', 'DayOfWeek', 'Year', 'Month', 'Day', 'StateHoliday', 
            'CompetitionMonthsOpen', 'Promo2Weeks', 
            'StoreType', 'Assortment', 'PromoInterval', 
            'CompetitionOpenSinceYear', 'Promo2SinceYear', 
            'State', 'Week', 'Events', 'Promo_fw', 'Promo_bw', 
            'StateHoliday_bool_fw', 'StateHoliday_bool_bw', 'SchoolHoliday_fw', 
            'SchoolHoliday_bw']

In [16]:
DataFrameSummary(df_train[cat_vars]).summary()

,Store,DayOfWeek,Year,Month,Day,StateHoliday,CompetitionMonthsOpen,Promo2Weeks,StoreType,Assortment,...,Promo2SinceYear,State,Week,Events,Promo_fw,Promo_bw,StateHoliday_bool_fw,StateHoliday_bool_bw,SchoolHoliday_fw,SchoolHoliday_bw
count,1004188.000000,1004188.000000,1004188.000000,1004188.000000,1004188.000000,NaN,1004188.000000,1004188.000000,NaN,NaN,...,1004188.000000,NaN,1004188.000000,NaN,1004188.000000,1004188.000000,1004188.000000,1004188.000000,1004188.000000,1004188.000000
mean,558.457168,4.022204,2013.833256,5.813509,15.690294,NaN,20.205976,22.851065,NaN,NaN,...,2000.893081,NaN,23.465521,NaN,2.660047,2.652237,0.202335,0.214628,1.223129,1.237133
std,321.871541,1.989464,0.777878,3.304196,8.774969,NaN,7.960597,6.737850,NaN,NaN,...,10.939789,NaN,14.331747,NaN,1.899294,1.913472,0.462844,0.476375,2.050760,2.058725
min,1.000000,1.000000,2013.000000,1.000000,1.000000,NaN,0.000000,0.000000,NaN,NaN,...,1990.000000,NaN,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,280.000000,2.000000,2013.000000,3.000000,8.000000,NaN,24.000000,25.000000,NaN,NaN,...,1990.000000,NaN,11.000000,NaN,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,558.000000,4.000000,2014.000000,6.000000,16.000000,NaN,24.000000,25.000000,NaN,NaN,...,2009.000000,NaN,22.000000,NaN,3.000000,3.000000,0.000000,0.000000,0.000000,0.000000
75%,837.000000,6.000000,2014.000000,8.000000,23.000000,NaN,24.000000,25.000000,NaN,NaN,...,2012.000000,NaN,35.000000,NaN,5.000000,5.000000,0.000000,0.000000,2.000000,2.000000
max,1115.000000,7.000000,2015.000000,12.000000,31.000000,NaN,24.000000,25.000000,NaN,NaN,...,2015.000000,NaN,52.000000,NaN,5.000000,5.000000,2.000000,2.000000,7.000000,7.000000
counts,1004188,1004188,1004188,1004188,1004188,1004188,1004188,1004188,1004188,1004188,...,1004188,1004188,1004188,1004188,1004188,1004188,1004188,1004188,1004188,1004188
uniques,1115,7,3,12,31,4,25,26,4,3,...,8,12,52,22,6,6,3,3,8,8
missing,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,...,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
types,numeric,numeric,numeric,numeric,numeric,categorical,numeric,numeric,categorical,categorical,...,numeric,categorical,numeric,categorical,numeric,numeric,numeric,numeric,numeric,numeric

In [17]:
DataFrameSummary(df_train[cat_vars]).summary().loc[['uniques', 'types', 'missing']].T

                         uniques        types missing
Store                       1115      numeric       0
DayOfWeek                      7      numeric       0
Year                           3      numeric       0
Month                         12      numeric       0
Day                           31      numeric       0
StateHoliday                   4  categorical       0
CompetitionMonthsOpen         25      numeric       0
Promo2Weeks                   26      numeric       0
StoreType                      4  categorical       0
Assortment                     3  categorical       0
PromoInterval                  4  categorical       0
CompetitionOpenSinceYear      21      numeric       0
Promo2SinceYear                8      numeric       0
State                         12  categorical       0
Week                          52      numeric       0
Events                        22  categorical       0
Promo_fw                       6      numeric       0
Promo_bw                       6      numeric       0
StateHoliday_bool_fw           3      numeric       0
StateHoliday_bool_bw           3      numeric       0
SchoolHoliday_fw               8      numeric       0
SchoolHoliday_bw               8      numeric       0

In [18]:
# Reemplaza nulls por "" en categoricas
# for v in cat_vars: df_train.loc[df_train[v].isnull(), v] = ""

In [19]:
# for v in cat_vars: df_test.loc[df_test[v].isnull(), v] = ""

# Continuos Vars

In [20]:
df_train.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Week', 'Day',
       'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval',
       'CompetitionOpenSince', 'Promo2Since', 'State', 'file', 'week', 'trend',
       'Date_y', 'Month_y', 'Day_y', 'file_DE', 'week_DE', 'trend_DE',
       'Date_DE', 'State_DE', 'Month_DE', 'Day_DE', 'file_y',
       'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
       'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC', 'Max_Humidity',
       'Mean_Humidity', 'Min_Humidity', 'Max_Sea_Level_PressurehPa',
       'Mean_Sea_Level_PressurehPa', 'Min_Sea_Level_PressurehPa',
       'Max_VisibilityKm', 'Mean_VisibilityKm', 'Min_VisibilitykM',
       'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h', 'Max_Gust_SpeedKm_h',
       'Precipitationmm', 'CloudCover', 'Events', 'WindDirDegrees',
       'StateName', 'Year_y', 'Week_y', 'CompetitionDaysOpen',
       'CompetitionMonthsOpen', 'Promo2Days', 'Promo2Weeks',
       'StateHoliday_bool', 'AfterSchoolHoliday', 'BeforeSchoolHoliday',
       'AfterStateHoliday_bool', 'BeforeStateHoliday_bool', 'AfterPromo',
       'BeforePromo', 'SchoolHoliday_bw', 'StateHoliday_bool_bw', 'Promo_bw',
       'SchoolHoliday_fw', 'StateHoliday_bool_fw', 'Promo_fw'],
      dtype='object')

In [21]:
contin_vars = ['CompetitionDistance', 
               'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC', 
               'Precipitationmm', 'Max_Humidity', 'Mean_Humidity', 'Min_Humidity', 
               'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h', 'CloudCover', 'trend', 
               'trend_DE', 'AfterStateHoliday_bool', 'BeforeStateHoliday_bool', 
               'Promo', 'SchoolHoliday', 'StateHoliday_bool']

In [22]:
DataFrameSummary(df_train[contin_vars]).summary().loc[['uniques', 'types', 'missing']].T

                        uniques    types missing
CompetitionDistance         654  numeric       0
Max_TemperatureC             50  numeric       0
Mean_TemperatureC            45  numeric       0
Min_TemperatureC             40  numeric       0
Precipitationmm              40  numeric       0
Max_Humidity                 52  numeric       0
Mean_Humidity                71  numeric       0
Min_Humidity                 93  numeric       0
Max_Wind_SpeedKm_h           42  numeric       0
Mean_Wind_SpeedKm_h          27  numeric       0
CloudCover                    9  numeric       0
trend                        67  numeric       0
trend_DE                     38  numeric       0
AfterStateHoliday_bool      136  numeric       0
BeforeStateHoliday_bool     147  numeric       0
Promo                         2     bool       0
SchoolHoliday                 2     bool       0
StateHoliday_bool             2     bool       0

In [23]:
# Reemplaza nulls por 0 en continuas
# for v in contin_vars: df_train.loc[df_train[v].isnull(), v] = 0
# for v in contin_vars: df_test.loc[df_test[v].isnull(), v] = 0

# Normalización en continuas y LabelEncode en Categoricas

In [24]:
#pip install sklearn_pandas
from sklearn_pandas import DataFrameMapper

In [25]:
cat_maps = [(o, LabelEncoder()) for o in cat_vars]
contin_maps = [([o], StandardScaler()) for o in contin_vars]

In [26]:
cat_maps

[('Store', LabelEncoder()),
 ('DayOfWeek', LabelEncoder()),
 ('Year', LabelEncoder()),
 ('Month', LabelEncoder()),
 ('Day', LabelEncoder()),
 ('StateHoliday', LabelEncoder()),
 ('CompetitionMonthsOpen', LabelEncoder()),
 ('Promo2Weeks', LabelEncoder()),
 ('StoreType', LabelEncoder()),
 ('Assortment', LabelEncoder()),
 ('PromoInterval', LabelEncoder()),
 ('CompetitionOpenSinceYear', LabelEncoder()),
 ('Promo2SinceYear', LabelEncoder()),
 ('State', LabelEncoder()),
 ('Week', LabelEncoder()),
 ('Events', LabelEncoder()),
 ('Promo_fw', LabelEncoder()),
 ('Promo_bw', LabelEncoder()),
 ('StateHoliday_bool_fw', LabelEncoder()),
 ('StateHoliday_bool_bw', LabelEncoder()),
 ('SchoolHoliday_fw', LabelEncoder()),
 ('SchoolHoliday_bw', LabelEncoder())]

In [27]:
mapper_cat = DataFrameMapper(cat_maps)
_ = mapper_cat.fit(df_train)

In [28]:
mapper_cat

DataFrameMapper(drop_cols=[],
                features=[('Store', LabelEncoder()),
                          ('DayOfWeek', LabelEncoder()),
                          ('Year', LabelEncoder()), ('Month', LabelEncoder()),
                          ('Day', LabelEncoder()),
                          ('StateHoliday', LabelEncoder()),
                          ('CompetitionMonthsOpen', LabelEncoder()),
                          ('Promo2Weeks', LabelEncoder()),
                          ('StoreType', LabelEncoder()),
                          ('Assortment', LabelEncoder()),
                          ('PromoInterval', Label...
                          ('CompetitionOpenSinceYear', LabelEncoder()),
                          ('Promo2SinceYear', LabelEncoder()),
                          ('State', LabelEncoder()), ('Week', LabelEncoder()),
                          ('Events', LabelEncoder()),
                          ('Promo_fw', LabelEncoder()),
                          ('Promo_bw', LabelEncoder()),
                          ('StateHoliday_bool_fw', LabelEncoder()),
                          ('StateHoliday_bool_bw', LabelEncoder()),
                          ('SchoolHoliday_fw', LabelEncoder()),
                          ('SchoolHoliday_bw', LabelEncoder())])

In [29]:
# Assortment es la novena posición en cat_maps
N = 1
print(list(zip(df_train['Assortment'].values[:N], mapper_cat.transform(df_train)[:,9][:N])))
print(list(zip(df_train['Events'].values[:N], mapper_cat.transform(df_train)[:,15][:N])))
print(list(zip(df_train['Year'].values[:N], mapper_cat.transform(df_train)[:,2][:N])))

[('a', 0)]
[('Fog', 0)]
[(2015, 2)]

In [30]:
mapper_cont = DataFrameMapper(contin_maps)
_ = mapper_cont.fit(df_train)

In [31]:
N = 10
print(df_train['CompetitionDistance'].values[:N])
print(mapper_cont.transform(df_train)[:, 0][:N])

[ 1270.   570. 14130.   620. 29910.   310. 24000.  7520.  2030.  3160.]
[-0.51101885 -0.59348069  1.00392288 -0.58759056  2.86284828 -0.62410937
  2.16663478  0.22524754 -0.42148886 -0.2883719 ]

In [32]:
# La hacemos con todas ahora
df_train[cat_vars] = mapper_cat.transform(df_train)
df_test[cat_vars] = mapper_cat.transform(df_test)

In [33]:
df_train[contin_vars] = mapper_cont.transform(df_train)
df_test[contin_vars] = mapper_cont.transform(df_test)

In [34]:
df_train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,...,AfterStateHoliday_bool,BeforeStateHoliday_bool,AfterPromo,BeforePromo,SchoolHoliday_bw,StateHoliday_bool_bw,Promo_bw,SchoolHoliday_fw,StateHoliday_bool_fw,Promo_fw
0,0,4,2015-07-31,5263,555,1,1.286984,0,2.153114,2,...,0.648055,1.078159,0,0,5,0,5,1,0,1
1,1,4,2015-07-31,6064,625,1,1.286984,0,2.153114,2,...,0.968608,1.078159,0,0,5,0,5,1,0,1
2,2,4,2015-07-31,8314,821,1,1.286984,0,2.153114,2,...,0.648055,1.078159,0,0,5,0,5,1,0,1
3,3,4,2015-07-31,13995,1498,1,1.286984,0,2.153114,2,...,0.968608,1.078159,0,0,5,0,5,1,0,1
4,4,4,2015-07-31,4822,559,1,1.286984,0,2.153114,2,...,0.648055,1.078159,0,0,5,0,5,1,0,1

In [35]:
DataFrameSummary(df_train[cat_vars]).summary().loc[['uniques', 'types']]

,Store,DayOfWeek,Year,Month,Day,StateHoliday,CompetitionMonthsOpen,Promo2Weeks,StoreType,Assortment,...,Promo2SinceYear,State,Week,Events,Promo_fw,Promo_bw,StateHoliday_bool_fw,StateHoliday_bool_bw,SchoolHoliday_fw,SchoolHoliday_bw
uniques,1115,7,3,12,31,4,25,26,4,3,...,8,12,52,22,6,6,3,3,8,8
types,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,...,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric

# Final processing

In [36]:
df_train.shape

(1004188, 81)

In [37]:
df_sales = df_train[df_train.Sales!=0]

In [38]:
df_sales.shape

(831357, 81)

In [39]:
df_test.reset_index(inplace=True)

In [40]:
df_sales.reset_index(inplace=True)

In [41]:
df_sales.to_feather('train_normalized_data.fth')

In [42]:
df_test.to_feather('test_normalized_data.fth')

In [43]:
(df_test['Open'] == 0).sum()

5984

In [44]:
(df_sales['Open'] == 0).sum()

0

In [45]:
(df_train['CompetitionDistance'].isna()).sum()

0

In [46]:
df_sales

,index,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,...,AfterStateHoliday_bool,BeforeStateHoliday_bool,AfterPromo,BeforePromo,SchoolHoliday_bw,StateHoliday_bool_bw,Promo_bw,SchoolHoliday_fw,StateHoliday_bool_fw,Promo_fw
0,0,0,4,2015-07-31,5263,555,1,1.286984,0,2.153114,...,0.648055,1.078159,0,0,5,0,5,1,0,1
1,1,1,4,2015-07-31,6064,625,1,1.286984,0,2.153114,...,0.968608,1.078159,0,0,5,0,5,1,0,1
2,2,2,4,2015-07-31,8314,821,1,1.286984,0,2.153114,...,0.648055,1.078159,0,0,5,0,5,1,0,1
3,3,3,4,2015-07-31,13995,1498,1,1.286984,0,2.153114,...,0.968608,1.078159,0,0,5,0,5,1,0,1
4,4,4,4,2015-07-31,4822,559,1,1.286984,0,2.153114,...,0.648055,1.078159,0,0,5,0,5,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
831352,1003750,675,1,2013-01-01,3821,777,1,-0.777010,1,2.153114,...,-1.179097,1.078159,0,-6,1,1,0,7,1,1
831353,1003756,681,1,2013-01-01,3375,566,1,-0.777010,1,2.153114,...,-1.179097,1.078159,0,-6,1,1,0,4,1,1
831354,1003807,732,1,2013-01-01,10765,2377,1,-0.777010,1,2.153114,...,-1.179097,1.078159,0,-6,1,1,0,4,1,1
831355,1004021,947,1,2013-01-01,4491,1039,1,-0.777010,1,2.153114,...,-1.179097,1.078159,0,-6,1,1,0,4,2,1
831356,1004169,1096,1,2013-01-01,5961,1405,1,-0.777010,1,2.153114,...,-1.179097,1.078159,0,-6,1,1,0,4,1,1